[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
silensis = "NNKKQChc4oxcMryYtYrZ3bHztZCTNkP9iBVhV2czDiX"

[programs.localnet]
silensis = "AY4EDSxDQXhx5neK8ygEuZY1ogE8JkeTVjpUNSwhyJep"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
